.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    padding: 24px;
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(93,93,93,1) 100%);
    
    color: white;
}